   body{
    background-color: #000000;
    line-height: 1.5;
    margin: 0;
    padding: 0;
   }

   #backback {
    position: relative;
    background: url("cam4.jpg");
    background-size: cover;
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -999;
  }
  
  #backback::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.774); /* Adjust the last value (alpha) to control the intensity of the red tint */
  }
  
   
  .space {
    letter-spacing: 20px !important;
   }
   
   /* Additional custom styles */
    .album {
      background-color: #f9f9f9;
      padding: 50px;
      text-align: center;
    }
    
    .promo {
      background-color: #f4f4f4;
      padding: 50px;
      text-align: center;
    }
    
    .contact {
      background-color: #eaeaea;
      padding: 50px;
      text-align: center;
    }
h1{
  color: yellow;
}