    /* Additional custom styles */
    header {
      background-color: #333;
      color: #fff;
      padding: 20px;
      text-align: center;
    }
    
    .album {
      background-color: #f9f9f9;
      padding: 50px;
      text-align: center;
    }
    
    .promo {
      background-color: #f4f4f4;
      padding: 50px;
      text-align: center;
    }
    
    .contact {
      background-color: #eaeaea;
      padding: 50px;
      text-align: center;
    }
