
  {% extends "base.html" %}
  {% load static %}
  {% block title %}Home{% endblock title %}
  {% block head %}
  <link rel="stylesheet" href="{% static 'style.css' %}">
  {% endblock head %}
  {% block content %}
  <section class="album">
    <div class="container">
      <h2>Album</h2>
      <div class="row">
        <!-- Add your photo thumbnails here -->
        <div class="col-md-4">
          <img src="{% static 'photo1.jpg' %}" alt="Photo 1" class="img-fluid">
        </div>
        <div class="col-md-4">
          <img src="{% static 'photo2.jpg' %}" alt="Photo 2" class="img-fluid">
        </div>
        <div class="col-md-4">
          <img src="{% static 'photo3.jpg' %}" alt="Photo 3" class="img-fluid">
        </div>
        <div class="col-md-4">
          <img src="{% static 'photo4.jpg' %}" alt="Photo 4" class="img-fluid">
        </div>
        <div class="col-md-4">
          <img src="{% static 'photo5.jpg' %}" alt="Photo 5" class="img-fluid">
        </div>
        <div class="col-md-4">
          <img src="{% static 'photo6.webp' %}" alt="Photo 6" class="img-fluid">
        </div>
      </div>
    </div>
  </section>
  
  <section class="promo">
    <div class="container">
      <h2>Promo</h2>
      <p>Add your promotional content here.</p>
    </div>
  </section>
  
  <section class="contact">
    <div class="container">
      <h2>Contact</h2>
      <div class="row justify-content-center">
        <div class="col-md-6">
          <form>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Name" required>
            </div>
            <div class="form-group">
              <input type="email" class="form-control" placeholder="Email" required>
            </div>
            <div class="form-group">
              <textarea class="form-control" placeholder="Message" rows="4" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Send</button>
          </form>
        </div>
      </div>
    </div>
  </section>

  {% endblock content %}
